/*this is a style css for main page */
*{
    text-align: center;
    color: black;
    margin: 0;
    padding: 0;
}
b{
    font-family: 'Bebas Neue', sans-serif;
    text-align: left;
}
h1{
    font-family: 'Bebas Neue', sans-serif;
    text-align: left;
}
header{
    font-family: 'Bebas Neue', sans-serif;
    background-color: white;
    height: 150px;
    width: 100%;
}

#content{
    font-family: 'Bebas Neue', sans-serif;
    background-color: white;
    height: 800px;
}

footer{
    background-color: grey;
    height: 20px;
}

