/*this is a style css for main page */
*{
    text-align: center;
    color: black;
    margin: 0;
    padding: 0;
}

header{
    font-family: 'Bebas Neue', sans-serif;
    background-color: white;
    height: 150px;
    width: 100%;
}

#content{
    font-family: 'Bebas Neue', sans-serif;
    background-color: white;
    height: 800px;
}

footer{
    background-color: grey;
    height: 20px;
}

div#container{
    background-color: bisque;
}