/*this is a style css for main page */
*{
    text-align: center;
    color: black;
    margin: 0;
    padding: 0;
}

header{
    font-family: 'Bebas Neue', sans-serif;
    background-color: blue;
    height: 100px;
    width: 100%;
    border-color: black;
    border-style: dashed;
    border-width: 2px;
}

#content{
    font-family: 'Bebas Neue', sans-serif;
    background-color: white;
    height: 980px;
    border-color: black;
    border-style: dashed;
    border-width: 2px;
}

footer{
    background-color: grey;
    height: 50px;
    border-color: black;
    border-style: dashed;
    border-width: 2px;
}

div#content1{
    width: 69%;
    height: 100%;
    float: left;
    border-color: red;
    border-style: dashed;
    border-width: 2px;
}

div#content2{
    width: 30%;
    height: 100%;
    float: right;
    border-color: red;
    border-style: dashed;
    border-width: 2px;
}

div#incontent1{
    height: 10%;
    border-color: green;
    border-style: dashed;
    border-width: 2px;
}

div#incontent2{
    height: 89%;
    border-color: green;
    border-style: dashed;
    border-width: 2px;
}

div#con1{
    width: 48%;
    height: 100%;
    float: left;
    border-color: blue;
    border-style: dashed;
    border-width: 2px;
}

div#con2{
    height: 100%;
    width: 50%;
    float: right;
    border-color: blue;
    border-style: dashed;
    border-width: 2px;
}

