.cart-container {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .cart-container h2 {
    margin: 0;
  }
  
  .cart-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-container li {
    margin-bottom: 5px;
  }
  
  #cart-total {
    margin-top: 10px;
    font-weight: bold;
  }
  .shoppingbutton {
    background-color: #000000;
    color: #f7f4f2;
    font-weight: bolder;
    font-size: large;
    align-items: center;
    padding: 20px 40px;
    border-radius: 5px;
    width: 20%;
    height: 35%;
    margin-left: 9%;
    cursor: pointer;
  }
  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 40px;
    margin-top: 50px;
}
.list .item {
    background: #ffffff;
    box-shadow: 0px 10px 50px 0px rgba(12, 21, 41, 0.15);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.list .item img {
    position: relative;
    display: block;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.list .item .title {
    color: #0c1529;
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
    padding: 20px 40px 10px;
}
.list .item .price {
    margin: 10px;
    line-height: 30px;
    font-weight: 700;
    padding: 0px 40px 10px;
    font-size: larger;
}
.list .item button {
  background-color: #000000;
  color: #f7f4f2;
  font-weight: bolder;
  font-size: large;
  align-items: center;
  padding: 20px 40px;
  border-radius: 5px;
  width: 50%;
  height: 35%;
  margin-left: 25%;
  margin-bottom: 20px;
}
.list .item button:hover {
  background-color: #f8a460;
  color: #0a0a0a; 
}
.servicecontainer {
    width:100%;
    padding-right:135px;
    padding-left:135px;
    margin-right:auto;
    margin-left:auto;
}
.card{
  position: fixed;
  top:0;
  left: 100%;
  width: 500px;
  background-color: #ffffff;
  height: 100vh;
  transition: 0.5s;
}
.active .card{
  left: calc(100% - 500px);
  z-index: 9999999999;
}
.card h1{
  color: #0a0a0a;
  font-weight: bolder;
  margin: 0;
  margin-top: 20px;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
  margin-left: 15%;
}
.card .checkOut{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
.card .checkOut div{
  background-color: #f8a460;
  color: #000000 ;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.card .checkOut div:nth-child(2){
  background-color: #1C1F25;
  color: #fff;
}
.listCard li{
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  color: #000000;
  row-gap: 10px;
  margin-top: 25px;
  margin-left: 22%;
}
.listCard li div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.listCard li button{
  background-color: rgba(230, 23, 23, 0.333);
  border: none;
  width: 30px;
  font-weight: 500;
}
.listCard .count{
  margin: 0 10px;
}

/*the template

.blog-grid-style1-area{
    position: relative;
    display: block;
    background: #ffffff;
    padding: 150px 0 150px;    
}
/*.single-blog-style2 .text-holder {
    position: relative;
    display: block;
    background: #ffffff;
    box-shadow: 0px 10px 50px 0px rgba(12, 21, 41, 0.15);
    padding: 38px 40px 40px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.single-blog-style2 .text-holder .blog-title {
    color: #0c1529;
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
}
.single-blog-style2 .text-holder .button-box{
    position: relative;
    display: block;
}
.single-blog-style2 .text-holder .button-box .btn-one{
    background: #0c1529;
    padding-left: 40px;
    padding-right: 40px;
}
.single-blog-style2 .text-holder .button-box .btn-one:before {
    border: 2px solid #0c1529;
}




/*the old css
.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.list .item{
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
}
.list .item img{
    width: 90%;
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
}
